<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/hyp.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index2.css" />
    <title>个人中心</title>
</head>
<body class="personal">
<div class="container">
    <a href="{:U('Video/index')}"></a>
    <div class="right-text">
        <p><span>宝贝姓名：</span>{$userinfo.name}</p>
        <p><span>出生年月：</span>{$userinfo.briday}</p>
        <p><span>联系电话：</span>{$userinfo.phone}</p>
        <p><span>就读学校：</span>{$userinfo.school}</p>
    </div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/home/js/hyp.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/index.js"></script>

</html>