<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/hyp.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/xsyx.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/order.css" />
        <title>查看订单</title>
    </head>
    <body>
        <div class="header-container">
            <a class="left" onclick="javascript:history.back();">
                <img src="__PUBLIC__/home/images/icon/left.png" />
                <span>返回</span>
            </a>
            <div class="middle">查看订单</div>
            <a class="right" href="{:U('Index/index')}">首页</a>
        </div>
        <div class="nav-container">
            <div class="nav" style="color: #e70012;">全部</div>
            <div class="nav">未付款</div>
            <div class="nav">待提货</div>
            <div class="nav">已提货</div>
        </div>
        <div class="list-container2">
            <div class="item">
                <div class="title">
                    <p>订单编号：180626001462011606045</p>
                    <p style="color: #e70012;">待提货</p>
                </div>
                <div class="info-1">
                    <div class="left"></div>
                    <div class="right">
                        <div class="name">不锈钢液压蒜泥神器1个 口径为2.5cm 手柄长度为15cm</div>
                        <div class="bottom">
                            <p style="color: #e70012;">￥50.0</p>
                            <p>1个</p>
                        </div>
                    </div>
                </div>
                <div class="info-2">
                    <div class="left">
                        <p>提单号：<span style="color: #e70012;">19</span></p>
                        <p style="margin-top: 0.2667rem;">2018-06-26&nbsp;&nbsp;16:45:02</p>
                    </div>
                    <div class="right">确认提货</div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <p>订单编号：180626001462011606045</p>
                    <p style="color: #e70012;">未付款</p>
                </div>
                <div class="info-1">
                    <div class="left"></div>
                    <div class="right">
                        <div class="name">不锈钢液压蒜泥神器1个 口径为2.5cm 手柄长度为15cm</div>
                        <div class="bottom">
                            <p style="color: #e70012;">￥50.0</p>
                            <p>1个</p>
                        </div>
                    </div>
                </div>
                <div class="info-2">
                    <div class="left">
                        <p>提单号：<span style="color: #e70012;">19</span></p>
                        <p style="margin-top: 0.2667rem;">2018-06-26&nbsp;&nbsp;16:45:02</p>
                    </div>
                    <div class="right">去付款</div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <p>订单编号：180626001462011606045</p>
                    <p style="color: #e70012;">已提货</p>
                </div>
                <div class="info-1">
                    <div class="left"></div>
                    <div class="right">
                        <div class="name">不锈钢液压蒜泥神器1个 口径为2.5cm 手柄长度为15cm</div>
                        <div class="bottom">
                            <p style="color: #e70012;">￥50.0</p>
                            <p>1个</p>
                        </div>
                    </div>
                </div>
                <div class="info-2">
                    <div class="left">
                        <p>提单号：<span style="color: #e70012;">19</span></p>
                        <p style="margin-top: 0.2667rem;">2018-06-26&nbsp;&nbsp;16:45:02</p>
                    </div>
                    <div class="right disable">已提货</div>
                </div>
            </div>
        </div>
        <div class="no-container2 hid">
            <img class="no-order" src="__PUBLIC__/home/images/other/no_order.png" />
        </div>
    </body>
    <script type="text/javascript" src="__PUBLIC__/home/js/hyp.js"></script>

    <script type="text/javascript" src="__PUBLIC__/home/js/xsyx.js"></script>
    <script>
        var geti="{$i}";
        console.log(geti);
        //个人中心的我的订单切换
        var orderi = geti;
        $(".nav").eq(orderi).css('color', '#e70012').siblings().css('color', '#666');
        //console.log("==="+i);
        if(orderi == 0){
            console.log('--'+orderi);
            $(".list-container2").removeClass('hid');
            $(".no-container2").addClass('hid');
        }
        else if(orderi >0 && orderi <4 ){
            console.log('--'+orderi);
            $(".no-container2").removeClass('hid');
            $(".list-container2").addClass('hid');
            console.log(orderi)
        }
        $(".nav").on("click",function(){
            var i = $(this).index();
          console.log('当前是'+i)
        })
    </script>
</html>
